#!/bin/bash

git reset --hard
git pull origin main
composer install --no-interaction --prefer-dist --optimize-autoloader
php artisan module:migrate --force
php artisan migrate --force
php artisan config:cache
php artisan queue:restart
php artisan route:cache
php artisan view:cache
npm run build

( flock -w 10 9 || exit 1
    echo 'Restarting FPM...'; sudo -S service php8.x-fpm reload ) 9>/tmp/fpmlock
